:root {
    /* fonts for project */
    --title: 'Merienda One', cursive;
    --principalFont: 'Quicksand', sans-serif;;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: var(--principalFont);
    min-height: 100vh;
    background-color: #edede9;
}


h1 {
    font-family: var(--title);
}
 
img {
    max-width: 100%;
    height: auto;
 }

a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Styles */

.hero {
    /* Sizing */
    position: relative;
    height: 100vh;
    text-align: center;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero::before {
    content: "";
    background-image: url(./images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(0.5);
}

.hero-inner {
    padding: 1rem;
}

.hero .recipes-header{
    position: relative;
    color: #fefae0;
    font-size: 3.5rem;   
}

.hero .recipes-description {
    position: relative;
    color: #fefae0;
    font-size: 1rem;
    margin-top: 1rem;
}

/* Sections */

.section {
    padding: 1rem;
}

.description-container {
    margin-top: 1rem;
    padding: 1rem;
}

.title-recipe {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0px 1px 1px 1px;
    font-style: italic;
}

.title-recipe, .description-recipe {
    margin-bottom: 1rem;
}

/* Buttons */

.btn {
    background-color: #c86666;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #e9edc9;
    padding: 0.3rem;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    scale: 1.1;
    background-color: black;
}

@media (min-width: 700px) {
    .hero .recipes-header{
        font-size: 4.5rem;
    }

    .hero .recipes-description {
        font-size: 1.5rem;
    } 

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .btn-3 {
        width: 40%;
    }

    .section {
        padding: 2.5rem;
    }

    .recipe-3 {
        text-align: center;
    }

    .description-container {
        margin-top: 0;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
    }    

    .title-recipe {
        font-size: 2rem;
    }

    .recipes-description {
        font-size: 1.5rem;
    }

    .btn {
        padding: 0.6rem;
    }


}